<% form_for @student_group do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :year, "Год" %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :letter, "Буква" %><br />
    <%= f.text_field :letter %>
  </p>
  <p><%= f.submit "Сохранить" %></p>
<% end %>


<p><%= link_to "Назад", student_groups_path %></p>
