
<iframe id='upload_iframe' name="upload_iframe" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>

<div id="new_message_form" class="x-hidden new-message-container">
  <%= form_for(@message, :url => mailbox_messages_url, :html => { :id => "message_form", :multipart => true, :target => 'upload_iframe' }) do |f| %>
    <table>
      <tr>
        <td><%= link_to_function "Кому:", "Global.mailbox.showRecipientsPopup()" %></td>
        <td><%= extjs_text_field_control "", "", :width => 473, :readOnly => true, :id => "new_msg_recipients" %></td>
      </tr>
      <tr>
        <td>Тема:</td>
        <td><%= extjs_text_field_control :message, :subject, :width => 473, :id => "new_msg_subject" %></td>
      </tr>
      <tr>
        <td class="mailbox-paperclip"></td>
        <td><div class="button-container">Прикрепить файл: <%= file_field_tag "attachment", :id => "file", :size => 41 %></div></td>
      </tr>
      <tr>
        <td></td>
        <td><div class="button-container">
            <ul>
              <% 
                   @message.attachments.each do |att| %>
                     <li id="attachment_<%= att.id %>"><%= att.name %><%= link_to "Удалить", { :remote => true, :url => { :action => "destroy_attachment", :id => att.id } }, { :class => "remove-file" } %></li>
              <%   end
                    %>
            </ul>
            <ul id="pending_files"></ul>
            </div></td>
      </tr>
      <tr>
        <td colspan="2"><%= extjs_html_editor_control :message, :body, :width => 506, :height => 300, :id => "new_msg_body" %></td>
      </tr>
    </table>
    <%= hidden_field_tag "message[to]", "", :id => "new_msg_hidden_to" %>
    <div class="mailbox-button-container">
    <%= extjs_button :text => "Отправить" %>
    </div>
  <% end %>
</div>

<% javascript_tag do %>
  var ms = new MultiSelector($('pending_files'));
  ms.addElement($('file'));
  ms.onclickUserEvent = function(element) {
    Global.mailbox.container_panel.setHeight(Global.mailbox.container_panel.getHeight() + 15);
    Global.mailbox.content_panel.setHeight(Global.mailbox.content_panel.getHeight() + 15);
  }
<% end %>