<% unless @student_groups.blank? %>
<% content_for :bottom do %>
  <%= javascript_include_tag "register" %>
<% end %>
<% form_tag :action => "show" do %>
  <% javascript_tag do %>
    Ext.onReady(function() {    
      <%= render :partial => "panel.js.erb" %>
    });
  <% end %>  
  
  <div id="markBoxContainer" class="x-hide-display">
    <%= extjs_combo_box_control "", "", :id => "markBox", :width => 40, :store => "Global.mark_value_store", :displayField => "mark", :valueField => "id" %>
  </div>

  <div class="clear"></div>
  <div id="panel_container" class="register-panel-container"></div>
  <div id="toolbar"></div>
  <div id="register_container"></div>
  
  <% javascript_tag do %>
    Ext.onReady(function() {
      
      Global.marks = <%= mark_collection(@students, @dates, @mark_table).to_json %>;
      Global.dates = <%= date_collection(@dates).to_json %>;
      
      Global.register = new Register({ 
        renderTo: "register_container",
        marks: Global.marks,
        dates: Global.dates,
        students: Global.students,
        readonly: <%= @read_only %>,
        markBox: Ext.getCmp("markBox")
      });
            
      Global.register.markBox.on("select", function(box, record) {
        Global.register.chooseMark(Global.register.editCell, record.get("id"), function(i, j, studentId, date, itemId, mark, mark_model, callback) {
          Ext.Ajax.request({
            url: '<%= mark_register_path %>',
            params: { i: i, j: j, type: mark_model.type, mark: mark, student_id: studentId, date: date, item_id: itemId },
            success: function(response) {
              callback(response.responseText);
            }
          });
        });
      });
      Global.register.markBox.on("expand", function() {
        Global.register.clearListeners();
      });
      Global.register.markBox.on("collapse", function() {
        Global.register.setListeners();
      });
    });
    
  <% end %>
<% end %>
<% else %>
  Вы не можете просмотреть ни один журнал.
<% end %>