<% content_for :bottom do %>
  <%= javascript_include_tag "groupdataview" %>
  <%= javascript_include_tag "groupcombo" %>
  <%= javascript_include_tag "schedule" %>
  <% javascript_tag do %>
    Ext.onReady(function() {
      <%= 
        update_page do |page| 
          mark_errors(page)
        end %>
    });
  <% end %>
<% end %>

<% javascript_tag do %>
  Ext.onReady(function() {
    Global.yearSubjects = $H();
    Global.groups = <%= objects_to_collection_array(:data => @student_groups, :fields => ["id", "full_name", "year"] ).to_json %>; 
    var subjects;
    <% Subject::SCHOOL_YEARS.each do |year| %>
      subjects = <%= subject_collection(@year_subjects[year]).to_json %>;
      Global.yearSubjects.set("<%= year %>", subjects);
    <% end %>

    Global.rooms = <%= room_collection(@class_rooms).to_json %>;
  
    Global.roomStore = new Ext.data.GroupingStore({
      reader: new Ext.data.ArrayReader({
        id: 0,
      }, [
        {id: "id", name: "id"}, {id: "name", name: "name"}, {id: "occupied", name: "occupied"}
      ]),
      
      groupField: "occupied"
    });
    Global.roomStore.loadData(Global.rooms);
    
    Global.subjectStore = new Ext.data.SimpleStore({
      fields: [{name: "id"}, {name: "name"}],
      id: 0
    });

    Global.dayTimes = <%= day_time_collection(@day_times).to_json %>;
      
    Global.items = <%= schedule_item_collection(@day_times, @student_groups, @item_table).to_json %>;
    Global.schedule = new Schedule({ 
      renderTo: "schedule_container",
      yearSubjects: Global.yearSubjects,
      groups: Global.groups,
      rooms: Global.rooms,
      dayTimes: Global.dayTimes,
      items: Global.items,
      locale: "ru_ru",
      saveCallback: function(itemId, i, j, subjectId, roomId, f) {
        Ext.Ajax.request({
          url: "<%= save_schedule_path %>",
          params: { id: itemId, i: i, j: j, subject_id: subjectId, room_id: roomId },
          success: function(result) {
            f(result.responseText);
          }
        });
      }
    });
  });
<% end  %>
<div id="toolbar"></div>
<div id="panel_container" class="schedule-panel-container"></div>
<div id="schedule_container"></div>
<div class="clear"></div>
<% javascript_tag do %>
  Ext.onReady(function() {
    var panel = new Ext.Panel({
      renderTo: "panel_container",
      width: 682,
      title: "Расписание занятий",
      tbar: [{
      icon: '/images/page-prev.gif',
          cls: 'x-btn-icon',
          handler: function() { Global.schedule.scroll(-41); }
      }, {
        icon: '/images/page-next.gif',
          cls: 'x-btn-icon',
          handler: function() { Global.schedule.scroll(41); }
      },
      "-", {
        text: "Генерировать",
          icon: '/images/startbutton-icon.gif',
          cls: 'x-btn-text-icon generate-icon',
          handler: function() { document.location.href = "<%= generate_schedule_path %>"; }
      }]
    });
  });
<% end %>
<div id="popup" class="x-hidden">
<div class="x-window-header"></div>
<div id="popup_main" class="popup schedule-popup">
  <%= extjs_combo_box_control nil, nil, :id => "popup_subjects", :store => "Global.subjectStore", :displayField => "name", :valueField => "id" %>
  <%= extjs_group_combo_box_control nil, nil, :id => "popup_rooms", :store => "Global.roomStore", :displayField => "name", :valueField => "id", :groupTextTpl => "{[values.text == \"true\" ? \"Занятые\" : \"Свободные\"]}" %>
</div>
</div>

