<div class="news-form">
  <table>
    <tr>
      <td width="130">Заголовок</td>
      <td><%= extjs_text_field_control :news, :title, :width => 300 %></td>
    </tr>
    <tr>
      <td colspan="2" class="editor-cell"><%= extjs_html_editor_control :news, :content %></td>
    </tr>
    <tr>
      <td>Прикрепить файлы</td>
      <td>
        <%= file_field_tag "attachment", :id => "file" %><br/>  
      </td>
    </tr>
  </table>

  <ul id="pending_files"></ul> 
  
  <ul>
    <% @news.attachments.each do |att| %>
    <li id="attachment_<%= att.id %>"><%= att.name %><%= link_to_remote "Удалить", { :url => { :action => "destroy_attachment", :id => att.id } }, { :class => "remove-file" } %></li>
    <% end %>
  </ul>
   
</div>
<% javascript_tag do %>
  var ms = new MultiSelector($('pending_files'));
  ms.addElement($('file'));
<% end %>
<%= extjs_button "Сохранить" %>
<%= extjs_button :text => "Назад", :handler => { :action => "index" } %>
