<% uid = news.id || uid! %>
<div id="news_item_<%= uid %>" class="news-item" style="visibility:visible">
  <h2 class="header"><%= h news.title %></h2>
  <div class="created-at"><%= news.created_at.to_s(:long) %> | <%= news.author.full_name %></div>
  <div class="content"><%= sanitize(news.content) %></div>
  <% unless news.attachments.blank? %>
    <div class="attachments-header">
    Файлы:
    </div>
    <ul class="attachments">
      <% news.attachments.each do |att| %>
      <li><%= link_to att.name, att.url %> (<%= number_to_human_size(att.file_size) %>)</li>
      <% end %>
    </ul>
  <% end %>
</div>

<div id="news_wrapper_<%= uid %>">
  <div id="news_panel_<%= uid %>"></div>
</div>

<table cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <div id="comments_container_<%= uid %>"></div>
      <div id="comments_<%= uid %>" class="news-comment">
        <%= render :partial => "comment", :collection => news.comments %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="comment-submit-form">
        <% remote_form_for @comment, :url => { :action => "add_comment" },
         :success => "Ext.MessageBox.alert('SMS', 'Ваш комментарий успешно сохранён.');",
         :html => { :id => "comment_submit_form_#{uid}" } do %>
           <div id="html_area_<%= uid %>"></div><div style="height:6px;"></div>
           <div id="submit_<%= uid %>"></div>
           <%= hidden_field_tag("comment[parent_id]", "#{uid}") %> 
           <%= hidden_field_tag("comment[parent_type]", "News") %> 
        <% end %>
      </div>
    </td>
  </tr>
</table>

<% javascript_tag do %>
  Ext.onReady(function() {
    var comments_panel = new Ext.Panel({
      bodyStyle: 'padding: 10px',
      hideCollapseTool: true,
      hideLabel: true,
      collapsible: true,
      collapsed: true,
      contentEl: 'comments_<%= uid %>',
      renderTo: 'comments_container_<%= uid %>'
    });


    var submit_<%= uid %> = new Ext.Button({
      text:"Отправить",
      renderTo:"submit_<%= uid %>",
      hidden: true,
      handler : function() {
        document.forms["comment_submit_form_<%= uid %>"].onsubmit();
      }
    });



      var panel = new Ext.Panel({
        bodyStyle: 'padding: 10px',
        bbar: [{
          link_to_comments_panel: comments_panel,
          link_to_html_area: 0,
          link_to_submit_button: submit_<%= uid %>,
          text: 'Обсуждение',
          iconCls: 'x-btn-text-icon comments',
          handler: function() {
            if (this.link_to_html_area == 0) {
              this.link_to_html_area = new Ext.form.HtmlEditor({
                name:"comment[body]",
                value:"",
                height:150,
                hidden: true,
                hiddenName:"comment[body]",
                renderTo:"html_area_<%= uid %>"
              });
            }

            this.link_to_comments_panel.toggleCollapse(true);
            this.link_to_html_area.setVisible(!this.link_to_html_area.isVisible());
            this.link_to_submit_button.setVisible(!this.link_to_submit_button.isVisible());
            if (this.link_to_html_area.isVisible())
               this.setText("Свернуть комментарии");
            else
               this.setText("Обсуждение");
          }
        }

          <% acl_block new_news_item_path do %>
         ,{
            text: 'Редактировать',
            iconCls: 'x-btn-text-icon edit',
            handler: function() {
              redirectTo('<%= edit_news_item_url(news) %>');
            }
          }

         ,{
            text: 'Удалить',
            iconCls: 'x-btn-text-icon remove',
            handler: function() {
              Ext.Ajax.request({
                method: 'DELETE',
                url: '<%= news_item_url(news) %>'
              });
            }
          }
        <% end %>

        ],
        contentEl: 'news_item_<%= uid %>',
        renderTo: 'news_panel_<%= uid %>',
        listeners: {
          afterrender: function() {
            this.getEl().setVisible(false);
            $('news_wrapper_<%= uid %>').observe("mouseover", function() {
              this.getEl().setVisible(true);
            }.bind(this));
            $('news_wrapper_<%= uid %>').observe("mouseout", function() {
              this.getEl().setVisible(false);
            }.bind(this));
          
          }
        }
      });


    });
  <% end %>