<div class="login-form-container">
  <div class="x-box-tl"><div class="x-box-tr"><div class="x-box-tc"></div></div></div>
  <div class="x-box-ml"><div class="x-box-mr"><div class="x-box-mc">

      <% form_for @user_session do |f| %>
      <%= f.error_messages %>

    <table class="login-form-scaffold">
    <tr><td colspan="2">
      <h3><b>Вход</b></h3>
    <tr><td>
      <%= f.label :login, "Логин:" %>
    <td>
      <%= extjs_text_field_control :user_session, :login %>

    <tr><td>
      <%= f.label :password, "Пароль:" %>
    <td>
      <%= extjs_text_field_control :user_session, :password, :inputType => "password" %>

    <tr><td><td>
      <%= extjs_button :text => "Войти" %>

    </table>
      <% end %>


  </div></div></div>
  <div class="x-box-bl"><div class="x-box-br"><div class="x-box-bc"></div></div></div>

</div>

