<h1>Вход</h1>

<% form_for @user_session do |f| %>
  <%= f.error_messages %>

    <%= f.label :login, "Логин" %><br />
    <%= extjs_text_field_control :user_session, :login %>

    <%= f.label :password, "Пароль" %><br />
    <%= extjs_text_field_control :user_session, :password, :inputType => "password" %>

  <%= extjs_button :text => "Войти" %>
<% end %>


