<fieldset>
<legend>&nbsp;<b>Вход</b>&nbsp;</legend>

<% form_for @user_session do |f| %>
  <%= f.error_messages %>

  <table class="entrance_scaffold">
    <tr><td>
    <%= f.label :login, "Логин:" %>
    <td>
    <%= extjs_text_field_control :user_session, :login %>

    <tr><td>
    <%= f.label :password, "Пароль:" %>
    <td>
    <%= extjs_text_field_control :user_session, :password, :inputType => "password" %>

    <tr><td><td>
    <%= extjs_button :text => "Войти" %>
  </table>
<% end %>

</FIELDSET>


