!!!
%html
  %head
    %meta{ "http-equiv" => "Content-Type", "content" => "text/html; charset=utf-8" }
    = stylesheet_link_tag "ext-all", "MultiSelect", "xtheme-gray", "protoload", "default-style", :cache => "sms"
    = javascript_include_tag "prototype", "effects", "dragdrop", "controls", "application", "rails", "ext-prototype-adapter#{ Rails.env == 'development' ? '-debug' : ''}", "ext-all#{ Rails.env == 'development' ? '-debug' : ''}", "ext-lang-ru", "sms-checkbox", "multifile", "protoload", "default", "mailbox", :cache => "sms"
    = csrf_meta_tag
    %title Система администрирования школы
  %body
    = javascript_tag do
      Ext.Ajax.extraParams = { |
        "authenticity_token": '#{form_authenticity_token}' |
      }; |

    #main_container
      .top
        .x-box-ml
          .x-box-mr
            .x-box-mc
              = link_to root_path, :class => "logo" do
                %span School Management System
              - if current_user
                .top-links
                  %span#mailbox_link #{link_to_mailbox} | #{link_to "Выход", logout_path}

                = render :partial => "layouts/search_box"
              .clear
        .x-box-bl
          .x-box-br
            .x-box-bc
      .clear

      #menu
        = render :partial => "layouts/menu"

      .content-container
        = yield 
      .clear
      #footer &copy; Алексей Жердев, Алексей Шпаков, 2009&ndash;2010
      = yield :bottom